<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" href="Resources/IMG_Logo_Updated.png">
    <title>Articles - PLH News</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <link rel="stylesheet" href="Styles.css">
    <script type="text/javascript" src="Scripts.js"></script>
</head>

<body>
    <!--FACEBOOK COMMENTS-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2"></script>

    <!--Beginning of header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mynavbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="Resources/IMG_Logo_Updated.png" width="30" height="30" class="d-inline-block align-top"
                        alt="IMG_Branch">
                    PLH News
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #fff;">Game</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Phim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nhạc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sách</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Khoa học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Công nghệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Thể thao</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giáo dục</a>
                        </li>
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="myddmn">
                                <a class="dropdown-item" href="#">Thế giới</a>
                                <a class="dropdown-item" href="#">Trong nước</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Multimedia</a>
                                <a class="dropdown-item" href="#">Tổng hợp</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        <a href=""><i class="far fa-user" style="color: #fff; padding-left: 10px; padding-right: 10px;"></i></a>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!--Ending of header-->

    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Multimedia</a></li>
                <li class="breadcrumb-item active" aria-current="page">Video</li>
            </ol>
        </nav>
    </div>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Fluid jumbotron</h1>
            <div class="d-flex justify-content-between align-items-center lead">
                <span><i class="fas fa-info-circle"></i> vhv101, 2019/01/16, 15:00.</span>
            
                <span>
                    <a href=""><i title="Facebook" class="fab fa-facebook-square"></i></i></a>
                    <a href=""><i title="Twitter" class="fab fa-twitter-square"></i></a>
                    <a href=""><i title="Instagram" class="fab fa-instagram"></i></a>
                </span>
            </div>

            <div class="card mx-auto d-block" style="width: 75%;">
                <img src="Resources/IMG_NV.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                </div>
            </div>

            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>
    </div>

    <div class="container">
                <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce in turpis dictum, vehicula dui ultrices, tempus augue. Vivamus sed risus id risus fringilla suscipit ac non nisl. Proin dictum fringilla massa id molestie. Aliquam dapibus, eros vel tempor convallis, metus mi finibus orci, at pretium ligula turpis a tellus. Suspendisse pharetra, lorem in pretium sagittis, urna nisi laoreet augue, nec pharetra elit ante vel leo. Etiam dapibus convallis est id sollicitudin. Suspendisse potenti. Nullam quis efficitur felis, ut tincidunt erat. Aenean turpis arcu, faucibus id nulla et, efficitur sodales est. Aliquam erat volutpat. Mauris congue tincidunt massa sed euismod. Morbi suscipit, arcu non efficitur ullamcorper, urna justo convallis leo, nec congue quam ex et sem. Vestibulum rutrum iaculis lobortis. Integer eu lorem augue. Morbi in neque in orci dapibus pellentesque.</strong></p>

                <p>In vestibulum aliquam dictum. Donec semper elementum sapien, ac cursus metus cursus a. Nam ultricies semper mauris eu condimentum. Praesent quis luctus neque, in consectetur eros. In magna justo, hendrerit sed rutrum ac, fringilla a nibh. Sed sollicitudin orci nunc, vitae bibendum orci tincidunt aliquet. Aliquam vel urna viverra urna maximus faucibus. Pellentesque mollis accumsan urna in tempor. Nulla nisi magna, ultricies quis arcu sit amet, cursus facilisis quam. Praesent egestas nisl non sapien interdum, at egestas quam eleifend. In maximus in felis vitae elementum. Nunc vitae erat interdum, ultrices nisl ut, condimentum nunc. Donec eget faucibus massa.</p>
                
                <p>Nunc finibus tempus magna non facilisis. Fusce vel lorem vel turpis accumsan sagittis id vitae neque. Sed in faucibus urna. Cras vitae nisi sit amet orci dignissim sodales. Duis fermentum leo vel ante consequat elementum. Mauris vitae semper odio, sed tempor libero. Praesent sed pretium velit. Vivamus sagittis ligula vel suscipit aliquam. Donec faucibus nibh id mollis tristique. Curabitur imperdiet porta felis, at volutpat metus auctor rhoncus. Morbi sed neque id nulla imperdiet pellentesque. Vivamus pharetra felis vel condimentum molestie.</p>
                
                <p>Donec rutrum molestie ornare. Etiam ornare mauris risus. Aliquam at ultrices elit. Cras vitae mi pharetra, ornare libero sit amet, fringilla eros. Curabitur rutrum ligula aliquam elementum pretium. Nulla luctus eros non egestas gravida. Nam feugiat sit amet justo ut facilisis. Nunc finibus lorem scelerisque porta aliquet. Donec et cursus tellus. Morbi metus sem, venenatis sed libero ac, ultricies euismod erat.</p>
                
                <p>Mauris neque nibh, maximus in quam id, congue iaculis eros. Etiam gravida ipsum risus, non dictum ex blandit non. Aenean lacinia tempus purus eget posuere. Donec gravida non risus et suscipit. Aenean ut venenatis felis. Maecenas sed urna eget arcu tempus vulputate eu sed sapien. Phasellus viverra purus dui, at mollis sem pellentesque vel. Nulla in porta diam. Proin quam urna, laoreet vel nisl non, volutpat ultrices est. Maecenas ante felis, congue a euismod a, pretium sit amet turpis. Pellentesque eu tortor nisi. Quisque scelerisque id felis dapibus gravida. Cras volutpat cursus semper.</p>
                
                <p><em>Generated 5 paragraphs, 462 words, 3093 bytes of Lorem Ipsum</em></p>
    </div>

    <script type="text/javascript">

        var getAbsoluteUrl = (function () {
            var a;
            return function (url) {
                if (!a) a = document.createElement('a');
                a.href = url;
                return a.href;
            };
        })();
    </script>

    <div>
        <div id="fbcm" class="fb-comments" data-href="getAbsoluteUrl();"
            data-width="720" data-numposts="5"></div>
        
        <script>
            //document.getElementById("fbc").setAttribute("data-href", getAbsoluteUrl());
            document.getElementById("fbcm").setAttribute("data-href", window.location.href);
        </script>
    </div>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <span><a href="">
                        <h2>CÓ THỂ BẠN MUỐN</h2>
                    </a></span>
    
                <a href=""><i class="fas fa-plus-circle fa-2x"></i></a>
            </div>
            <hr>
    
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Beginning of footer-->
    <footer class="footer">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center" id="myfooter">
                <span>&copy; 2018-2019 PLH Vietnam.</span>
            
                <a href="#">Back To Top &UpArrowBar;</a>
            </div>
        </div>
    </footer>
    <!--Ending of footer-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>