<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="shortcut icon" href="Resources/IMG_Logo_Updated.png">
    <title>Home - PLH News</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    <link rel="stylesheet" href="Styles.css">
    <script type="text/javascript" src="Scripts.js"></script>
</head>

<body onload="StartTime()">
    <!--Beginning of header-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mynavbar">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="Resources/IMG_Logo_Updated.png" width="30" height="30" class="d-inline-block align-top"
                        alt="IMG_Branch" title="PLH">
                    PLH News
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#"><i title="Home" class="fas fa-home"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #fff;">Game</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#">Phim</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Nhạc</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sách</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Khoa học</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Công nghệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Thể thao</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Giáo dục</a>
                        </li>
                    
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="myddmn">
                                <a class="dropdown-item" href="#">Thế giới</a>
                                <a class="dropdown-item" href="#">Trong nước</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Multimedia</a>
                                <a class="dropdown-item" href="#">Tổng hợp</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                        
                        <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary bg-white text-dark" type="button" id="button-addon2"><i title="Search" class="fas fa-search"></i></button>
                                </div>
                              </div>
                    </form>
                    
                    <a href=""><i title="Account" class="far fa-user" style="color: #fff; padding-left: 20px; padding-right: 10px;"></i></a>

                    <!-- <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                            aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
                        </div>
                    </div>
                    <a href=""><i class="far fa-user" style="color: #fff; padding-left: 10px; padding-right: 10px;"></i></a> -->
                </div>
            </div>
        </nav>
    </header>
    <!--Ending of header-->

    <main role="main" class="container">
        <div class="toprow">
            <div class="row">
                <div class="col-5" style="color: green;">
                    <!--CLOCK-->
                    <ul class="list-inline">
                        <li class="list-inline-item"><i class="far fa-clock"></i></li>
                        <li class="list-inline-item">
                            <div id="Clock" style="color: #000; margin-left: 3px;"></div>
                        </li>

                        <li class="list-inline-item">|</li>

                        <li class="list-inline-item"><i class="fas fa-cloud-sun-rain"></i></li>
                        <li class="list-inline-item">
                            <div id="Weather" style="color: #000; margin-left: 3px;">Sài Gòn: 31°C</div>
                        </li>

                        <!-- <li class="nav-item" style="width: 250px; display: flex; align-items: center;">
                            <i class="far fa-clock"></i>
                            <div id="Clock" style="color: #000; margin-left: 3px;">zzz</div>
                        </li>

                        <li class="nav-item" style="width: 250px; display: flex; align-items: center;">
                            <i class="fas fa-cloud-sun-rain"></i>
                            <div id="Weather" style="color: #000; margin-left: 3px;">Sài Gòn: 31°C</div>
                        </li> -->
                    </ul>
                </div>
        
                <!--TRENDING-->
                <div class="col">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="">#Lorem ipsum</a></li>
                        <li class="list-inline-item"><a href="">#Phasellus iaculis</a></li>
                        <li class="list-inline-item"><a href="">#Nulla volutpat</a></li>
                        <li class="list-inline-item"><a href="">#Lorem ipsum</a></li>
                        <li class="list-inline-item"><a href="">#Phasellus iaculis</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <div class="row middlerow" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="col">
                <ul class="list-unstyled">
                    <li class="media">
                        <img width="40%" src="Resources/IMG_SP.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1"><i class="fas fa-images"></i> List-based media object List-based media object</h6>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img width="40%" src="Resources/IMG_SP.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1"><i class="fas fa-video"></i> List-based media object List-based media object</h6>
                        </div>
                    </li>
                    <li class="media">
                        <img width="40%" src="Resources/IMG_SP.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1"><span class="badge badge-danger">Hot</span> List-based media object List-based media object</h6>
                        </div>
                    </li>
                    <li class="media my-4">
                        <img width="40%" src="Resources/IMG_SP.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">List-based media object List-based media object</h6>
                        </div>
                    </li>
                    <li class="media">
                        <img width="40%" src="Resources/IMG_SP.png" class="mr-3" alt="...">
                        <div class="media-body">
                            <h6 class="mt-0 mb-1">
                                <div class="spinner-grow text-warning" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                [Live] List-based media object List-based media object
                            </h6>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-6">
                <img src="Resources/IMG_NV.png" class="img-fluid" alt="Responsive image">
                <a href="Articles.html"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.</h3></a>
                <h5 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.</h5>
                <!-- <ul><li><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.</a></li></ul> -->
            </div>

            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                            aria-selected="true">Mới nhất</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                            aria-selected="false">Nóng nhất</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                            aria-selected="false">Cần đọc</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.
                        <hr>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.
                        <hr>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.
                        <hr>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus scelerisque.
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="album py-5 " style="background-color: #f0f0f0;">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <span><a href=""><h2>MULTIMEDIA</h2></a></span>
            
                <a href="Categories.html"><i title="All" class="fas fa-plus-circle fa-2x"></i></a>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><i class="fas fa-images"></i> This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i title="Like" class="fas fa-heart"></i></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i title="Share" class="fas fa-share"></i></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"><i title="Mark" class="fas fa-star"></i></button>
                                </div>
                                <small class="text-muted">9 mins <i class="fas fa-calendar-alt"></i></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text"><i class="fas fa-video"></i> This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
    
            <div class="d-flex justify-content-between align-items-center">
                <span><a href=""><h2>DÀNH CHO BẠN</h2></a></span>
            
                <a href=""><i title="All" class="fas fa-plus-circle fa-2x"></i></a>
            </div>
            <hr>
    
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="d-flex justify-content-between align-items-center">
                <span><a href=""><h2>TỔNG HỢP</h2></a></span>
            
                <a href=""><i title="All" class="fas fa-plus-circle fa-2x"></i></a>
            </div>
            <hr>
    
            <div class="row">
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3 shadow-sm">
                        <img src="Resources/IMG_SP.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <small class="text-muted">9 mins</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Beginning of footer-->
    <footer class="footer" id="myfooter">
        <div class="container" style="padding-top: 6px; padding-bottom: 6px;">
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    Email: <a href="mailto:che0be0@news.plh.com.vn">che0be0@news.plh.com.vn</a>
                    Phone: <a href="tel:+842577777777">+842577777777</a>
                    Address: <a href="https://goo.gl/maps/pT1ygEpvKoq" target="_blank">721400</a>
                </span>
            
                <span>
                    <a href=""><i title="Facebook" class="fab fa-facebook-square"></i></a>
                    <a href=""><i title="Twitter" class="fab fa-twitter-square"></i></a>
                    <a href=""><i title="Instagram" class="fab fa-instagram"></i></a>
                </span>
            </div>
        
            <div class="d-flex justify-content-between align-items-center">
                <span>
                    &copy; 2018-2019 PLH Vietnam.
                </span>
        
                <a href="#">Fly &UpArrowBar;</a>
            </div>
        </div>
    </footer>
    <!--Ending of footer-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>